h1 {
  text-align: center;
  color: green;
}

h3 {
  text-align: right;
}

li {
  font-size: 1.5em;
}

ul {
  list-style-type: circle;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f00;
}

p {
  font-family: sans-serif;
}

img {
  border: 5px solid #000;
  border-radius: 15px;
  max-width: 140px;
}
